<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<body>
<br/>
<form action="clients" method="post">
    <label>Имя<br/>
        <input type="text" name="name">
    </label>
    <br/>
    <label>Адрес<br/>
        <input type="text" name="address">
    </label>
    <br/>
    <label>Телефон (несколько значений через запятую)<br/>
        <input type="text" name="phone">
    </label>
    <br/><br/>
    <input type="submit" value="Добавить клиента">
</form>
<hr/>
<br/>
<lablel>Список клиентов</lablel>
<table style="width: 400px" border="1">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Адрес</td>
        <td style="width: 100px">Телефон</td>
    </tr>
    </thead>
    <tbody>
    <#list clients as item>
        <tr>
            <td>${item.id}</td>
            <td>${item.name}</td>
            <td>${item.address}</td>
            <td>${item.phones}</td>
        </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
